* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 6px;
  background: #f2f2f2;
}

::-webkit-scrollbar-thumb{
  background: #83B7E1;
  border-radius: 6px;
}

.img {
  width: 100%;
  position: relative;
}

.img img {
  width: 100%;
  height: auto;
  pointer-events: none;
}
