@import url(./assets/styles/global.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 6px;
  background: #f2f2f2;
}

::-webkit-scrollbar-thumb{
  background: #83B7E1;
}

